.app > div {
  height: 100%;
}

header {
  background: #202020;
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: white;
}

main {
  height: calc(100% - 44px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.photos {
  height: 100%;
  overflow: auto;
  background: #202020;
  border-top: 1px solid #111;
  text-align: center;
}
.photos .img {
  border: 1px solid #222;
  float: left;
  width: 50%;
  height: 148px;
  animation: img-appear .5s;
  transition: .4s all;
  position: relative;
  transition-duration: .2s;
  background-size: cover;
}
.photos .img.selected {
  box-shadow: 0px 0px 0px 4px #0080ff inset;
}
.photos .img:active {
  transform: scale(0.95);
  transition-duration: .1s;
  opacity: .9;
}

@keyframes img-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
