.app > div {
  height: 100%;
}

header {
  background: #fff;
  border-bottom: 1px solid #ccc;
  height: 44px;
  line-height: 44px;
  text-align: center;
}

main {
  height: calc(100% - 44px);
  padding-bottom: 50px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

main input[type="text"] {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 44px;
  padding: 0 8px;
  border: 1px solid #eee;
}
main input[type="text"]:focus {
  outline: none;
  border-top: 1px solid #ddd;
  background: #fdfdfd;
}

main label input[type="checkbox"] {
  display: none;
}
main form.todo {
  position: relative;
  border-bottom: 1px solid #eee;
}
main label {
  position: absolute;
  left: 0;
  width: 100%;
  display: inline-block;
  padding: 9px 12px;
  padding-left: 40px;
  transition-duration: .2s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main form.todo:hover {
  background: rgba(0,0,0,.02)
}
main form.todo:active {
  background: rgba(0,0,0,.04)
}

main form.todo:before {
  display: inline-block;
  padding: 8.5px 12px;
  content: '✓';
  pointer-events: none;
  color: transparent;
  box-shadow: 0px 0px 0px 2px #00b300 inset;
  background: #47cb47;
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0,0,0,.3);
  border-radius: 1000px;
  transform: scale(.6);
  transition-duration: .5s;
}

main form.todo:invalid:before {
  text-shadow: none;
  box-shadow: 0px 0px 0px 2px #ccc inset;
  background: #fff;
  color: #ccc;
  opacity: 1;
}
